*{
    margin: 0;
    padding:0;
}

body{
    padding-left: 10%;
    padding-right: 10%;
}


li{
    list-style: none;
    margin-bottom: 0.5rem;
}

label{
    display: block;
}

.navigation{
    width: 100%;
    height: 3rem;
}

.article-list{
    width: 70%;
    height: 100%;
    padding: 1rem;
}

.basket{
    width: 30%;
    height: 100%;
    padding: 1rem;
}

.split-container{
    display: flex;
    flex-direction: row;
}

.amount-group{
    display: flex;
    flex-direction: row;
}
